<div id="errors">
<% if @job.errors.any? %>
<ul>
  <% @job.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
</div>
<ul>
  <%= form_for @job do |f| %>
    <div class="form_group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form_group">
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>
    <div class="form_group">
      <%= f.label :company_id %>
      <%= f.collection_select :company_id, @companies, :id, :name, {prompt: 'Select a company'}, {class: "form-control"} %>
    </div>
    <div class="form_group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name, {prompt: 'Select a category'}, {class: "form-control"} %>
    </div>
    <div class="form_group">
      <%= f.label :hiring_type %>
      <%= f.select :hiring_type, options_for_select(Job::HIRING_OPTIONS), {prompt: 'Select a Hiring Type'}, {class: "form-control"} %>
    </div>
    <div class="form_group">
      <%= f.label :featured  %>
      <%= f.check_box :featured, class: 'checkbox-inline' %>
    </div>
    <div class="form_group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form_group">
      <%= f.submit submit_text, class: 'btn btn-primary' %>
    </div>
  <% end %>
</ul>
