<table>
  <td>
    <h3><%= @job.title %></h3>
    <hr>
    <tr><%= @job.company %></tr>
    <tr><%= @job.location %></tr>
    <tr><%= @job.category %></tr>
    <tr><%= @job.description %></tr>
  </td>
</table>
