<span class="error_message"><%= flash[:alert] %></span>
<%= form_for @company do |f| %>
  <div class="form_group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
  <div class="form_group">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control'  %>
  </div>
  <div class="form_group">
    <%= f.label :mail %>
    <%= f.text_field :mail, class: 'form-control'  %>
  </div>
  <div class="form_group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control'  %>
  </div>
  <div class="form_group">
    <%= f.submit submit_text, class: 'btn btn-primary'  %>
  </div>
<% end %>
