<h1>Nova Categoria</h1>
<hr>
<span class="error_message"><%= flash[:warning] %></span>
<%= form_for @category do |f| %>
  <div class="form_group">
    <%= f.label :name  %>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
  <div class="form_group">
    <%= f.submit 'Criar Categoria', class: 'btn btn-primary' %>
  </div>
<% end %>
